:root {
  --primary-color: 255, 255, 255;
  --lighter-color: 0, 0, 0;
  --darker-color: 0, 0, 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  max-width: calc(100vw - env(safe-area-inset-right) - env(safe-area-inset-left));
  min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: #000;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'San Francisco', 'PingFangSC-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  user-select: none;
  overflow: hidden;
}

* {
  overscroll-behavior: none;
  -webkit-tap-highlight-color: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  outline-width: 0;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-width: 0;
}

button,
input,
select {
  font: inherit;
  margin: 0;
  outline-width: 0;
  overflow: visible;
}

textarea {
  font: inherit;
  margin: 0;
  outline-width: 0;
  overflow: auto;
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

template {
  display: none;
}

/* Global Media Queries */
@media only screen and (min-width: 1440px) {
  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  html {
    font-size: 120%;
  }
}

@media only screen and (max-width: 479px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 359px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 120px) {
  #backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: url('/images/album.jpg') no-repeat center;
    background-size: cover;
    filter: blur(16px);
    transform: scale(1.2);
    z-index: -1;
    .mask {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(var(--primary-color), 0.75);
      pointer-events: none;
    }
  }
}

.app-container {
  position: relative;
  margin: 0 auto 0 auto;
  width: calc(100vw - env(safe-area-inset-right) - env(safe-area-inset-left));
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  transform-origin: 50% 100%;
  transition: all 0.4s;
}

.app-container-drawer-open {
  margin: calc(env(safe-area-inset-top) + 1rem) auto 0 auto;
  width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right) - 2rem);
  height: calc(100vh - env(safe-area-inset-top) - 1rem);
  background-color: rgb(var(--primary-color));
  border-radius: 1em 1em 0 0;
  #backdrop {
    opacity: 0;
  }
  #main-container {
    margin-top: 1rem;
    transform: scale(0.9);
  }
}

#main-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  transition: all .4s;
  transform-origin: 50% 100%;
  #player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
}

#surface {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  background-color: rgba(var(--darker-color), 0.2);
  border: 1px solid rgba(var(--darker-color), 0.2);
  border-radius: 50%;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(var(--darker-color), 0.1);
  user-select: none;
  .cover {
    padding-bottom: 100%;
    max-width: 100%;
    width: 100%;
    height: 0;
    .album {
      width: 96%;
      margin-left: 2%;
      margin-top: 2%;
      border-radius: 50%;
      background-color: transparent;
    }
  }
  .magic {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(var(--darker-color), 0.6);
    backdrop-filter: blur(4px);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 10;
    &:hover {
      opacity: 1;
    }
    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      min-height: 100%;
    }
    .fa {
      display: inline-block;
      vertical-align: middle;
      font-size: 3.5rem;
      color: rgb(var(--lighter-color));
    }
  }
}

#player-panel {
  margin: 0 auto 0 auto;
  width: 20em;
  padding: 0 1em;

  #detail {
    text-align: center;
    text-shadow: 0 0 5px rgba(var(--darker-color), 0.2);
    .title {
      margin-bottom: 0.1em;
      font-size: 1em;
      color: rgba(var(--darker-color), 1);
      &::before {
        content: '「';
      }
      &::after {
        content: '」';
      }
    }
    .artists {
      margin-bottom: 0.2em;
      font-size: 0.75em;
      color: rgba(var(--darker-color), 0.8);
    }
  }

  #thread {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    .progress {
      width: 20em;
      height: 3px;
      background-color: rgba(var(--darker-color), 0.1);
      border-radius: 4px;
      .buffered {
        width: 0;
        height: 100%;
        background-color: rgba(var(--darker-color), 0.2);
        transition: all ease 0.5s;
        border-radius: 4px;
      }
      .elapsed {
        margin-top: -3px;
        width: 0;
        height: 100%;
        background-color: rgb(var(--darker-color));
        transition: all ease 0.5s;
        border-radius: 4px;
      }
    }
  }

  #controller {
    margin: 0.5em auto 0 auto;
    width: 20em;
    .fa-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6em;
      font-size: 1em;
      color: rgba(var(--darker-color), 1);
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgba(255, 255, 255, 0);
      border-radius: 50%;
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        backdrop-filter: blur(16px);
        background-color: rgba(var(--darker-color), 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 20px rgba(var(--darker-color), 0.1);
      }
    }

    .fa-button-prime {
      font-size: 1.5rem;
      background-color: rgba(var(--darker-color), 0.6);
      color: rgba(var(--lighter-color), 1);
      i {
        margin-top: .1rem;
      }
    }

    .player-controller {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
      margin-top: 1em;
    }

    .sharing-tools {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
    }
  }
}

#lyric {
  margin-top: 1em;
  height: 5em;
  padding: 0 5%;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  .lrc {
    font-size: 1.15em;
    color: rgba(var(--darker-color), 1);
  }
  .tlrc {
    font-size: 1em;
    color: rgba(var(--darker-color), 1);
  }
}

#waveform {
  margin-top: -6em;
  width: 100%;
  height: 5em;
  opacity: 0.2;
  z-index: -1;
}

#frequency {
  position: fixed;
  bottom: 0;
  width: calc(100vw - env(safe-area-inset-right) - env(safe-area-inset-left));
  height: 10em;
  opacity: 0.4;
  z-index: -1;
}

.fullscreen-mask {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  span {
    display: inline-flex;
    flex-direction: column;
    gap: 8pt;
    width: 80%;
    font-size: 14pt;
    p {
      margin: 0;
    }
    button {
      margin-top: 16pt;
      padding: 8px;
      cursor: pointer;
      border-radius: 4px;
      outline: none;
      border: none;
      user-select: none;
    }
  }
}

.fullscreen-mask-mobile {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  span {
    text-align: center;
    user-select: none;
  }
}

@media (orientation: portrait) {
  #main-container {
    #player-container {
      flex-direction: column;
      justify-content: space-between;
      height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 1em);
      padding: 1em 0;
      #player-panel {
        width: 80%;
        #detail {
          width: 100%;
          min-height: 4.5em;
        }
      }
    }
    #frequency {
      opacity: 0;
    }
  }
}

@media (orientation: portrait) and (min-height: 1025px) {
  #main-container {
    height: 900px;
  }
}

@media (orientation: landscape) {
  #main-container {
    flex-direction: row;
    justify-content: center;
    width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
    height: calc(100vh - 4em);
    #waveform {
      position: fixed;
      bottom: 0;
      opacity: 0;
    }
    #player-container {
      #surface {
        margin: 0;
        width: 16em;
      }
      #player-panel {
        margin: 0;
        #detail {
          min-height: 4.5em;
          text-align: left;
          transition: all 0.4s;
          .title {
            &::before,
            &::after {
              display: none;
            }
          }
        }
      }
      #lyric {
        position: fixed;
        bottom: env(safe-area-inset-bottom);
      }
    }
  }
}

@media ((orientation: landscape) and (min-height: 721px)) {
}

@media (orientation: landscape) and (max-height: 720px) {
}

.drawer-trigger {
  background: none;
  border: none;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.drawer-content {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  height: calc(100vh - env(safe-area-inset-top) - 5rem);
  border-radius: 1em 1em 0 0;
  background: #fff;
  .header-dash {
    width: 3rem;
    height: .375rem;
    border-radius: 3rem;
    margin: 0 0 2em 0;
    background: rgba(212, 212, 212, .9);
  }
  .drawer-title {
    display: block;
    width: calc(100% - 2rem);
    max-width: calc(640px - 2rem);
    margin-bottom: 1rem;
  }
  .drawer-body {
    width: 100%;
    max-width: 640px;
    color: #444;
    line-height: 1.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    .no-data, .loading {
      padding: 0 1rem;
      text-align: center;
      line-height: 5rem;
    }
    .drawer-text {
      padding: 0 1rem;
      line-height: 1.5rem;
      p {
        margin: 0 0 .25rem 0;
      }
    }
    textarea {
      margin: .5em 1em 0 1em;
      padding: 8px;
      width: calc(100% - 2em - 16px);
      max-width: 640px;
      height: 4rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      transition: all .4s;
      &:focus {
        border: 1px solid rgba(0, 0, 0, 1);
      }
    }
    .load-list-link {
      margin: .5em auto 0 auto;
      width: 16rem;
      height: 3.2rem;
      text-align: center;
      line-height: 3.2rem;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      cursor: pointer;
    }
    .item {
      display: flex;
      align-items: center;
      padding: 0 1rem;
      line-height: 5rem;
      border-radius: 8px;
      transition: all .4s;
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      .cover {
        width: 4rem;
        height: 4rem;
        background-size: cover;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
      }
      .name {
        width: calc(100% - 6rem);
        margin-left: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }
}
