@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mxw2ko');
  src:  url('fonts/icomoon.eot?mxw2ko#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mxw2ko') format('truetype'),
    url('fonts/icomoon.woff?mxw2ko') format('woff'),
    url('fonts/icomoon.svg?mxw2ko#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-music-notes:before {
  content: "\e90e";
}
.fa-x:before {
  content: "\e90d";
}
.fa-backspace:before {
  content: "\e90c";
}
.fa-music-plus:before {
  content: "\e90b";
}
.fa-lightning:before {
  content: "\e90a";
}
.fa-heart:before {
  content: "\e909";
}
.fa-repeat:before {
  content: "\e907";
}
.fa-github:before {
  content: "\e908";
}
.fa-shuffle:before {
  content: "\e900";
}
.fa-list:before {
  content: "\e901";
}
.fa-pause:before {
  content: "\e902";
}
.fa-play:before {
  content: "\e903";
}
.fa-skip-forward:before {
  content: "\e904";
}
.fa-skip-back:before {
  content: "\e905";
}
.fa-repeat-single:before {
  content: "\e906";
}
